body{
    background: #2C2141;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.main{
    background: white;
    border-radius: 16px;
    width: 624px;
    margin: 16px;

}