html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url(./bkground.jpg);
  background-position:center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background: white;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  padding: 32px;
}
.person{
  display:flex;
  align-items: flex-start;

}
.person__description{
    font-style: 16px;
    line-height: 22px;
    margin:0;
    
}
.person__description--with-margin{
  margin-bottom: 22px;
}
.person__info{
    margin-bottom: 24px;
}
.person__name{
    font-size: 36px;
    margin: 0;
    font-weight: normal;

}
.person__position{
    font-size:18px;
    color:#545454;
    margin:0;
    font-style:italic;

}
.person__picture{
  margin-right:32px;
  border-radius: 200px;
}
.special{
    color:#ED6D05;
    font-weight: normal;

}
.person__link{
    color:red;
    text-decoration: none;
}
